.n-primary-text {
  text-align: center;
  
}
.n-primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 470px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  text-align: center;
    
}

.n-primary-subheading {
  font-weight: 900;
  color: #0d506e;
  font-size: 5.15rem;
  text-align: center;
  position: relative;
  align-items: center;
  
}
.nosotros-section-text-container {
  justify-content: center;
  position: relative;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.nosotros-section-image-container {
  position: relative;


}

.n-secundary-subheading {
  color: #0d506e;
  font-size: 2.00rem;
  text-align: center;


}
.nosotros-section-container {
  position: relative;
  
}

.n-section-image-container {
  max-width: 350px;
  flex-wrap: wrap;
  display: flex;
}

.n-section-image-container img {
  opacity: 0.5; /* Establece la opacidad deseada */
  transition: opacity 0.3s ease; /* Agrega una transición suave de 0.3 segundos */
}

.n-section-image-container img:hover {
  opacity: 1; /* Cambia la opacidad al 100% al pasar el cursor por encima */
}